node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.* 
*.env.local

smokestore-webapp/.next/
smokestore-webapp/out/
smokestore-webapp/.vercel/
smokestore-webapp/.turbo/

smokestore-webapp/build/

.firebaserc
firebase-debug.log
firebase-debug.*
smokestore-webapp/.firebase/

smokestore-bot/dist/

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log
logs/